<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed? %>
        <i class="fa-regular fa-check-square"></i>
      <% else %>
        <i class="fa-regular fa-square"></i>
      <% end %>
      <%= task.title %>
    </li>
  <% end %>
</ul>
